{% extends "base.html" %}

{% block content %}
<h1>Recepción</h1>
<div class="content-container">
    <div class="card-container">

        <div class="card" onclick="window.location.href='{% url 'turnero' %}'">
            <div class="card-icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <h3>Turnero</h3>
            <p>Reservar, cancelar, bloquear</p>
        </div>
        
        <div class="card" onclick="window.location.href='{% url 'dar_presente' %}'">
            <div class="card-icon">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <h3>Presente</h3>
            <p>Dar el presente.</p>
        </div>    
    </div>
</div>
{% endblock %}

