<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel Principal{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="back-button"><a href="javascript:history.back()" title="Volver"><i class="fas fa-arrow-left"></i></a></li>
            <li class="spacer"></li>
            <li><a href="{% url 'main' %}" title="Home"><i class="fas fa-home"></i></a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" title="Cerrar Sesión"><i class="fas fa-sign-out-alt"></i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <!-- Modal de Confirmación -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="modalTitle">Confirmación</h2>
            <p id="modalMessage"></p>
            <form id="modalForm" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn update-btn">Eliminar</button>
                <button type="button" class="btn cancel-btn" onclick="closeModal()">Cancelar</button>
            </form>
        </div>
    </div>

    <script>
        function openModal(title, message, actionUrl) {
            document.getElementById('modalTitle').textContent = title;
            document.getElementById('modalMessage').textContent = message;
            document.getElementById('modalForm').action = actionUrl;
            document.getElementById('confirmationModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('confirmationModal').style.display = 'none';
        }
    </script>
</body>
</html>
