<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel Principal{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            {% if request.path != '/turnos/main/' %}
            <li class="back-button">
                <a href= "{{ request.session.previous_url|default:'/' }}" title="Volver">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>
            {% endif %}
            <li class="spacer"></li>
            <li><a href="{% url 'main' %}" title="Home"><i class="fas fa-home"></i></a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" title="Cerrar Sesión"><i class="fas fa-sign-out-alt"></i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}

    {% include 'modales.html' %}

    <script src="{% static 'js/modals.js' %}"></script>
    <script src="{% static 'js/ui_funciones.js' %}"></script>
</body>
</html>
