{% extends "base.html" %}

{% block content %}
<h1>Panel Principal</h1>
<div class="content-container">
    <div class="card-container">
        <div class="card" onclick="window.location.href='{% url 'fabrica' %}'">
            <div class="card-icon">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <h3>Gestión</h3>
            <p>Gestioná especialidades, pacientes y médicos.</p>
        </div>
        
        <div class="card" onclick="window.location.href='{% url 'gestion_turnos' %}'">
            <div class="card-icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <h3>Turnos</h3>
            <p>Reservas, cancelaciones y bloqueos.</p>
        </div>
        
        <div class="card" onclick="window.location.href='{% url 'atencion' %}'">
            <div class="card-icon">
                <i class="fa fa-stethoscope" aria-hidden="true"></i>
            </div>
            <h3>Atención</h3>
            <p>Proporciona atención al paciente.</p>
        </div>
        
        <div class="card" onclick="window.location.href='{% url 'liquidacion' %}'">
            <div class="card-icon">
                <i class="fa fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <h3>Liquidación Honorarios</h3>
            <p>Administrá los pagos de los médicos.</p>
        </div>
    </div>
</div>
{% endblock %}
