<!-- Modal de Confirmación para eliminar -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">Confirmación</h2>
        <p id="modalMessage"></p>
        <form id="modalForm" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn update-btn">Eliminar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal()">Cancelar</button>
        </form>
    </div>
</div>

<!-- Modal de Confirmación para Cancelar Turno -->
<div id="cancelTurnoModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="cancelModalTitle">Confirmación de Cancelación</h2>
        <p id="cancelModalMessage">¿Estás seguro de que deseas cancelar este turno?</p>
        <form id="cancelModalForm" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn update-btn">Confirmar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal()">Cancelar</button>
        </form>
    </div>
</div>


<!-- Modal de Confirmación para Bloquear Turno -->
<div id="blockTurnoModal" class="modal" style="display:none;">
    <div class="modal-content">
        <h2 id="blockModalTitle">Confirmar Acción</h2>
        <p id="modalMessage">¿Estás seguro de que deseas realizar esta acción?</p>
        <form id="blockModalForm" method="post">
            {% csrf_token %}
            <button type="submit" id="blockModalButton">Confirmar</button>
            <button type="button" onclick="closeModal()">Cancelar</button>
        </form>
    </div>
</div>

<!-- Modal para Seleccionar Paciente -->
<div id="pacienteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">Seleccionar Paciente</h2>
        
        <div id="modalContent">
            <!-- Información del turno se mostrará aquí -->
        </div>

        <form id="pacienteModalForm" method="POST">
            {% csrf_token %}           
            <label for="pacienteSelect">Seleccionar Paciente:</label>
            <select id="pacienteSelect" name="paciente_id">
                <option value="" disabled selected>Seleccione un paciente</option>
                <!-- Opciones de pacientes se llenan dinámicamente -->
            </select>

            <button type="submit" class="btn update-btn">Confirmar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal()">Cerrar</button>
        </form>
    </div>
</div>

<!-- Modal de Consultorio -->
<div id="consultorioModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Opciones para el Turno</h2>
        <p id="consultorioTurnoId"></p>
        <button onclick="handleLLamadoConsultorioOption('llamar')">Llamar nuevamente</button>
        <button onclick="handleLLamadoConsultorioOption('ausente')">Marcar como ausente</button>
        <button onclick="handleLLamadoConsultorioOption('atender')">Comenzar a atender</button>
    </div>
</div>

