<!-- Modal de Confirmación para eliminar -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">Confirmación</h2>
        <p id="modalMessage"></p>
        <form id="modalForm" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn update-btn">Eliminar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal()">Cancelar</button>
        </form>
    </div>
</div>

<!-- Modal de Confirmación para Cancelar Turno -->
<div id="cancelTurnoModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="cancelModalTitle">Confirmación de Cancelación</h2>
        <p id="cancelModalMessage">¿Estás seguro de que deseas cancelar este turno?</p>
        <form id="cancelModalForm" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn update-btn">Confirmar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal()">Cancelar</button>
        </form>
    </div>
</div>


<!-- Modal de Confirmación para Bloquear Turno -->
<div id="blockTurnoModal" class="modal" style="display:none;">
    <div class="modal-content">
        <h2 id="blockModalTitle">Confirmar Acción</h2>
        <p id="modalMessage">¿Estás seguro de que deseas realizar esta acción?</p>
        <form id="blockModalForm" method="post">
            {% csrf_token %}
            <button type="submit" id="blockModalButton">Confirmar</button>
            <button type="button" onclick="closeModal()">Cancelar</button>
        </form>
    </div>
</div>

<!-- Modal para Seleccionar Paciente -->
<div id="pacienteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">Seleccionar Paciente</h2>
        
        <div id="modalContent">
            <!-- Información del turno se mostrará aquí -->
        </div>

        <form id="pacienteModalForm" method="POST">
            {% csrf_token %}           
            <label for="pacienteSelect">Seleccionar Paciente:</label>
            <select id="pacienteSelect" name="paciente_id">
                <option value="" disabled selected>Seleccione un paciente</option>
                <!-- Opciones de pacientes se llenan dinámicamente -->
            </select>

            <button type="submit" class="btn update-btn">Confirmar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal('pacienteModal')">Cerrar</button>
        </form>
    </div>
</div>

<!-- Modal de Acreditación -->
<div id="acreditacionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('acreditacionModal')">&times;</span>
        <h2>Opciones para el Pago</h2>
        <button onclick="handleAcreditacionOption('particular')">Particular</button>
        <button onclick="handleAcreditacionOption('obra-social')">Obra Social</button>
    </div>
</div>
<!-- Modal de Acreditación Particular -  -->
<div id="acreditacionParticularModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Aca iria la gestion de cobro particular. Pasar a sala de espera.</h2>
        <form id="acreditacionParticularModalForm" method="POST">
            {% csrf_token %}           
            <button type="submit" class="btn update-btn">Confirmar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal('acreditacionParticularModal')">Cerrar</button>
        </form>
    </div>
</div>

<!-- Modal de Acreditación Obra SOcial -  -->
<div id="acreditacionObraSocialModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Aca iria la gestion de autorizar Obra SOcial. Pasar a sala de espera.</h2>
        <form id="acreditacionObraSocialModalForm" method="POST">
            {% csrf_token %}           
            <button type="submit" class="btn update-btn">Confirmar</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal('acreditacionObraSocialModal')">Cerrar</button>
        </form>
    </div>
</div>
<!-- Modal de Consultorio -->
<div id="consultorioModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('consultorioModal')">&times;</span>
        <h2>Opciones para el Turno</h2>
        <form id="acreditacionObraSocialModalForm" method="POST">
            {% csrf_token %}
            <button type="button" onclick="handleLLamadoConsultorioOption('llamar', '{% url 'atencion_sala_espera' 0 'accion' %}')">Llamar nuevamente</button>
            <button type="button" onclick="handleLLamadoConsultorioOption('ausente', '{% url 'atencion_sala_espera' 0 'accion' %}')">Marcar como ausente</button>
            <button type="button" onclick="handleLLamadoConsultorioOption('atender', '{% url 'atencion_sala_espera' 0 'accion' %}')">Comenzar a atender</button>
            <button type="button" class="btn cancel-btn" onclick="closeModal('consultorioModal')">Cancelar</button>
        </form>
    </div>
</div>



