{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Especialidades</h1>


<div class="add-button-container">
    <a href="{% url 'crear_especialidad' %}" title="Crear Especialidad" class="add-button">
        <i class="fa fa-plus" aria-hidden="true"></i> Crear Especialidad
    </a>
</div>
{% if error_message %}
    <div class="error-message" id="errorMessage">
        <button class="close-btn" onclick="closeErrorMessage()">&times;</button>
        <p id="errorText">{{error_message}}</p>
    </div>
{% endif %}
{% if especialidades %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor de Turno</th>
                    <th>Duración de Turno</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for especialidad in especialidades %}
                    <tr>
                        <td>{{ especialidad.nombre }}</td>
                        <td>${{ especialidad.valor_turno }}</td>
                        <td>{{ especialidad.duracion_turno }} mins</td>
                        <td>
                            <!-- Ver detalles del especialidad -->
                            <button class="btn-icon" title="Ver detalles" onclick="window.location.href='{% url 'ver_especialidad' especialidad.pk %}'">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                    
                            <!-- Editar detalles de especialidad -->
                            <button class="btn-icon" title="Editar" onclick="window.location.href='{% url 'editar_especialidad' especialidad.pk %}'">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                            <!-- Eliminar especialidad -->
                            <button class="btn-icon btn-icon-danger" title="Eliminar"  onclick="openConfirmacionModal('Eliminar especialidad', '¿Estás seguro de que deseas eliminar la especialidad {{ especialidad.nombre }}?', '{% url 'eliminar_especialidad' especialidad.pk %}')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>No hay especialidades disponibles.</p>
{% endif %}

{% endblock %}
