{% extends "base.html" %}

{% block content %}
    <h1>Lista de Médicos</h1>

    <div class="filter-container">
        <form method="GET" class="filter-form">
            <select name="especialidad" id="especialidad">
                <option value="">Especialidad...</option>
                {% for especialidad in especialidades %}
                    <option value="{{ especialidad.id }}" {% if especialidad.id|stringformat:"s" == selected_especialidad %}selected{% endif %}>
                        {{ especialidad.nombre }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Filtrar</button>
        </form>

        <a href="{% url 'crear_medico' %}" title="Crear Médico" class="add-button">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear Médico
        </a>
    </div>

    {% if error_message %}
    <div class="error-message" id="errorMessage">
        <button class="close-btn" onclick="closeErrorMessage()">&times;</button>
        <p id="errorText">{{error_message}}</p>
    </div>
    {% endif %}

    {% if medicos %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                        <tr>
                            <td>{{ medico.nombre }}</td>
                            <td>{{ medico.apellido }}</td>
                            <td>{{ medico.especialidad }}</td>
                            <td>
                                <!-- View Icon -->
                                <a href="{% url 'ver_medico' medico.pk %}" title="Ver detalles">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
    
                                <!-- Edit Icon -->
                                <a href="{% url 'editar_medico' medico.pk %}" title="Editar">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
    
                                <!-- Delete Icon -->
                                <a href="javascript:void(0);" title="Eliminar" 
                                    onclick="openModal('Eliminar Médico', '¿Estás seguro de que deseas eliminar el médico {{ medico.nombre }} {{ medico.nombre }}?', '{% url 'eliminar_medico' medico.pk %}')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay médicos disponibles.</p>
    {% endif %}
    
    

{% endblock %}
