{% extends "base.html" %}

{% block content %}
    <h1 class="page-title">Médicos</h1>

    <div class="filter-and-add-container">
        <div class="filter-form-container">
            <form method="GET" class="filter-form">
                <label for="especialidad">Especialidad:</label>
                <select name="especialidad" id="especialidad">
                    {% for especialidad in especialidades %}
                        <option value="{{ especialidad.id }}" {% if especialidad.id|stringformat:"s" == selected_especialidad %}selected{% endif %}>
                            {{ especialidad.nombre|capfirst }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Filtrar</button>
            </form>
        </div>
        <div class="add-button-container">
            <a href="{% url 'crear_medico' %}" title="Crear Médico" class="add-button">
                <i class="fa fa-plus" aria-hidden="true"></i> Crear Médico
            </a>
        </div>
    </div>



    {% if error_message %}
    <div class="error-message" id="errorMessage">
        <button class="close-btn" onclick="closeErrorMessage()">&times;</button>
        <p id="errorText">{{error_message}}</p>
    </div>
    {% endif %}

    {% if medicos %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                        <tr>
                            <td>{{ medico.nombre }}</td>
                            <td>{{ medico.apellido }}</td>
                            <td>{{ medico.especialidad.nombre|capfirst }}</td>
                            <td>
                                <!-- Ver detalles del medico -->
                                <button class="btn-icon" title="Ver detalles" onclick="window.location.href='{% url 'ver_medico' medico.pk %}'">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                        
                                <!-- Editar detalles del medico -->
                                <button class="btn-icon" title="Editar" onclick="window.location.href='{% url 'editar_medico' medico.pk %}'">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <!-- Eliminar medico -->
                                <button class="btn-icon btn-icon-danger" title="Eliminar"  onclick="openConfirmacionModal('Eliminar medico', '¿Estás seguro de que deseas eliminar el medico {{ medico.nombre }} {{ medico.apellido }}?', '{% url 'eliminar_medico' medico.pk %}')">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay médicos disponibles.</p>
    {% endif %}
    
    

{% endblock %}
