{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Pacientes</h1>

<div class="filter-and-add-container">
    <div class="filter-form-container">
        <form method="GET" class="filter-form">
            <input type="text" name="query" id="query" placeholder="Nombre del paciente" value="{{ request.GET.query }}">
            <button type="submit">Filtrar</button>
        </form>
    </div>
    <div class="add-button-container">
        <a href="{% url 'crear_paciente' %}" title="Crear Paciente" class="add-button">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear Paciente
        </a>
    </div>
</div>
{% if error_message %}
<div class="error-message" id="errorMessage">
    <button class="close-btn" onclick="closeErrorMessage()">&times;</button>
    <p id="errorText">{{error_message}}</p>
</div>
{% endif %}

{% if pacientes %}
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>
                        <!-- Ver detalles del paciente -->
                        <button class="btn-icon" title="Ver detalles" onclick="window.location.href='{% url 'ver_paciente' paciente.pk %}'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                
                        <!-- Editar detalles del paciente -->
                        <button class="btn-icon" title="Editar" onclick="window.location.href='{% url 'editar_paciente' paciente.pk %}'">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>

                        <!-- Eliminar paciente -->
                        <button class="btn-icon btn-icon-danger" title="Eliminar"  onclick="openConfirmacionModal('Eliminar Paciente', '¿Estás seguro de que deseas eliminar el paciente {{ paciente.nombre }} {{ paciente.apellido }}?', '{% url 'eliminar_paciente' paciente.pk %}')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>                       
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
