{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Detalles de la Especialidad</h1>

<div class="details-container">
    <p><strong>Nombre:</strong> {{ especialidad.nombre|capfirst }}</p>
    <p><strong>Duración de Turno:</strong> {{ especialidad.duracion_turno }} minutos</p>
    <p><strong>Valor de Turno:</strong> ${{ especialidad.valor_turno }}</p>

    <div class="action-buttons">
        <button class="btn edit-btn" title="Editar" onclick="window.location.href='{% url 'editar_especialidad' especialidad.pk %}'">
            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
        <button class="btn delete-btn" title="Eliminar"  onclick="openConfirmacionModal('Eliminar especialidad', '¿Estás seguro de que deseas eliminar la especialidad {{ especialidad.nombre }}?', '{% url 'eliminar_especialidad' especialidad.pk %}')">
            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
        </button>
        <button class="btn back-btn" onclick="window.location.href='{% url 'lista_especialidades'%}'">
            <i class="fa fa-trash" aria-hidden="true"></i> ← Volver a la lista
        </button>
    </div>
</div>
{% endblock %}