{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Detalles del Médico</h1>

<div class="details-container">
    <p><strong>Nombre:</strong> {{ medico.nombre }}</p>
    <p><strong>Apellido:</strong> {{ medico.apellido }}</p>
    <p><strong>Especialidad:</strong> {{ medico.especialidad }}</p>
    <p><strong>Teléfono:</strong> {{ medico.telefono }}</p>
    <p><strong>Email:</strong> {{ medico.email }}</p>

    <div class="action-buttons">
        <button class="btn edit-btn" title="Editar" onclick="window.location.href='{% url 'editar_medico' medico.pk %}'">
            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
        <button class="btn delete-btn" title="Eliminar"  onclick="openConfirmacionModal('Eliminar medico', '¿Estás seguro de que deseas eliminar el medico {{ medico.nombre }} {{ medico.apellido }}?', '{% url 'eliminar_medico' medico.pk %}')">
            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
        </button>
        <button class="btn back-btn" onclick="window.location.href='{% url 'lista_medicos'%}'">
            <i class="fa fa-trash" aria-hidden="true"></i> ← Volver a la lista
        </button>
    </div>
</div>
{% endblock %}
