{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Detalles del Paciente</h1>

<div class="details-container">
    <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
    <p><strong>Apellido:</strong> {{ paciente.apellido }}</p>
    <p><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
    <p><strong>Email:</strong> {{ paciente.email }}</p>

    <div class="action-buttons">
        <button class="btn edit-btn" title="Editar" onclick="window.location.href='{% url 'editar_paciente' paciente.pk %}'">
            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
        <button class="btn delete-btn" title="Eliminar"  onclick="openConfirmacionModal('Eliminar paciente', '¿Estás seguro de que deseas eliminar el paciente {{ especialidad.nombre }}?', '{% url 'eliminar_paciente' paciente.pk %}')">
            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
        </button>
        <button class="btn back-btn" onclick="window.location.href='{% url 'lista_pacientes'%}'">
            <i class="fa fa-trash" aria-hidden="true"></i> ← Volver a la lista
        </button>
    </div>
</div>
{% endblock %}