/* styles.css */

/* Root Variables */
:root {
    --button-color: #4CAF50; /* Verde */
    --hover-color: #45a049; /* Verde más oscuro para hover */
    --text-color: #333;
    --font-family: 'Helvetica', sans-serif; 

    --danger-color:#e70013;
    --danger-color-primary:#f8d7da;
    --danger-color-secundary:#721c24;

    --info-color-primary:#f5f6c7;
    --info-color-secundary:#e38100;

    --success-color-primary:#e8f9d4;
    --success-color-secundary:#055e09;

}

/* Navbar */
.navbar {
    background-color: var(--text-color); /* Color de fondo */
    padding: 10px; /* Espaciado */
}

.nav-list {
    list-style-type: none; /* Sin puntos */
    display: flex; /* En fila */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia entre los elementos */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
}

.nav-list li {
    margin-right: 20px; /* Espacio entre elementos */
}

.nav-list a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 24px; /* Tamaño del icono */
}

.spacer {
    flex-grow: 1; /* Ocupa el espacio entre el botón de volver y los otros iconos */
}

.back-button {
    margin-right: auto; /* Alinea la flecha a la izquierda */
}

/* Main Body */
body {
    font-family: var(--font-family); 
    line-height: 1.6;
    display: flex;
    flex-direction: column; /* Mantener la navegación y el contenido en columna */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}

.content-container {
    display: flex;
    flex-direction: column; /* Permite apilar el título y las tarjetas */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    flex-grow: 1; /* Permite que este contenedor tome el espacio restante */
}

/* Headings */
h1 {
    color: var(--text-color);
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centrar el título */
    font-family: var(--font-family); 
    font-size: 2rem; /* Tamaño de fuente más grande */
}

/* Card Container */
.card-container {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no hay suficiente espacio */
    margin-top: 20px; /* Espacio arriba de las tarjetas */
}

/* Cards */
.card {
    background: linear-gradient(to bottom right, #f8f9fa, #e2e6ea); /* Gradiente de fondo */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 10px; /* Bordes más redondeados */
    padding: 20px; /* Espaciado interno */
    width: 200px; /* Ancho de la tarjeta */
    text-align: center; /* Centrar el texto */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    margin: 10px; /* Espacio entre tarjetas */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al pasar el mouse */
    transform: translateY(-3px); /* Elevar la tarjeta ligeramente */
}




table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Collapsing borders */ 

}
.table-container {
    padding: 20px; /* Espacio interno alrededor de la tabla */
    margin: 20px; /* Espacio externo */
    background-color: #fff; /* Color de fondo opcional */
    border-radius: 5px; /* Bordes redondeados opcionales */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}


th, td {
    border: 1px solid #ddd;
    padding: 8px; /* Cell padding */
    text-align: left; 
}

.centered {
    text-align: center;
}
th {
    background-color: #f2f2f2; /* Light gray background for header */
}

a {
    margin: 0 5px; /* Espacio entre enlaces */
}


form {
    margin: 20px;
}

button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}




/* Detalles del Médico */
.details-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.action-buttons {
    margin-top: 20px;
}

.edit-btn {
    background-color: var(--button-color); /* Verde */
}

.delete-btn {
    background-color: var(--danger-color); /* Rojo */
}

.back-btn {
    background-color: #2196F3; /* Azul */
}

.btn:hover {
    filter: brightness(90%);
}

/* Vista de Edición */
.edit-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ancho máximo del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
}

h1.page-title {
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Asegura que el box-sizing se aplique a todos los elementos */
* {
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

input, select, textarea {
    width: 100%; /* Ancho completo */
    margin: 2px;
    padding: 12px; /* Aumenta el padding para más espacio interno */
    margin-bottom: 15px; /* Espacio entre campos */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Aumenta el tamaño de fuente */
}

/* BOTONES */

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    font-size: 16px; /* Asegura un tamaño de fuente uniforme */
}

.cancel-btn {
    background-color: #e0e0e0; /* Gris claro */
    color: #333; /* Texto oscuro */
    text-decoration: none; /* Sin subrayado */
}


.update-btn {
    background-color: var(--button-color); /* Verde */
}


.cancel-btn:hover {
    background-color: #d3d3d3; /* Color de fondo más oscuro al pasar el mouse */
}

.update-btn:hover {
    background-color: var(--hover-color); /* Color más oscuro para hover */
}
.bloquear-btn, .desbloquear-btn {
    min-width: 120px; 
}
.bloquear-btn {
    color: var(--danger-color-secundary);
    background-color: var(--danger-color-primary);
}

.bloquear-btn:hover {
    background-color: #f2bbbb
}

.desbloquear-btn {
    background-color: var(--button-color);
    color: white;
}

/* Estilos del Modal */
.modal {    
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene el modal en la pantalla */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permite desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 01px; /* Aumenta el espacio interno para más separación */
    border-radius: 5px;
    max-width: 600px; /* Máximo ancho del mensaje */
    position: relative; /* Necesario para el botón de cierre */
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

.error-message .close-btn {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 15px; /* Distancia desde el borde derecho */
    transform: translateY(-50%); /* Ajusta el posicionamiento vertical */
    background: none;
    border: none;
    color: #721c24;
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace el texto más negrita */
    cursor: pointer;
}


/* FILTROS DE LISTA */

/* Contenedor general que contiene los filtros y el botón de agregar */
.filter-and-add-container {
    display: flex; /* Activamos flexbox */
    justify-content: space-between; /* Espacio entre los elementos para alinear a los extremos */
    align-items: center; /* Alineamos verticalmente los elementos en el centro */
}

.filter-form-container {
    padding: 20px; /* Espacio interno alrededor de la tabla */
    margin: 20px; /* Espacio externo */
}
.filter-form {
    min-width: 400px;
    max-width: 600px; /* Ajusta este valor según sea necesario */
    margin: 0; /* Centra el formulario */
}

.filter-form label,
.filter-form select {
    display: block; /* Cada elemento en una nueva línea */
    margin: 5px 0; /* Espaciado vertical entre elementos */
    width: 100%; /* Ocupa el 100% del contenedor */
}
.filter-form input {
    display: block; /* Cada elemento en una nueva línea */
    margin: 5px 0; /* Espaciado vertical entre elementos */
    width: 100%; /* Ocupa el 100% del contenedor */
}

/* BOTON AGREGAR */
.add-button {
    display: inline-block;
    padding: 8px 16px; /* Ajusta el tamaño del botón */
    background-color: var(--button-color); /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
    font-weight: bold; /* Texto en negrita */
}

.add-button-container {
    padding: 20px; /* Espacio interno alrededor de la tabla */
    margin: 20px; /* Espacio externo */
}


/* MODAL TURNO INFO */

.turno-info {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.details-container p {
    margin: 5px 0;
}

.details-container strong {
    color: #333;
}


/* Tirno agendado con exito */
.alert {
    background-color: var(--success-color-primary);
    color: var(--success-color-secundary);
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #c3e6cb; /* Borde verde claro */
    border-radius: 5px;
    font-size: 1em; /* Tamaño de fuente más grande */
    display: flex; /* Usar flex para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.alert.error {
    background-color: var(--danger-color-primary); /* Rojo claro */
    color: var(--danger-color-secundary); /* Rojo oscuro */
    border: 1px solid var(--danger-color-primary); /* Borde rojo claro */
}

.alert.info {
    background-color: var(--info-color-primary); 
    color:var(--info-color-secundary); 
    border: 1px solid var(--info-color-primary);
}

.alert svg {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.alert p {
    margin: 0; /* Sin margen en el párrafo */
}

.alert-icon{
    font-size: 20px; /* Tamaño del icono */
    min-width: 40px; /* Ajusta este valor según el tamaño del ícono y el padding deseado */
    padding: 5px;
}

.success-alert-close-btn {
    background: none;
    border: none;
    color: inherit; /* Hereda el color del texto */
    font-size: 1em; /* Aumenta el tamaño del botón */
    cursor: pointer;
    margin-left: auto; /* Empuja el botón a la derecha */
}

.success-alert-close-btn:hover {
    color: #721c24; /* Cambia el color al pasar el mouse */
}


.date-banner {
    background-color: #f8f9fa; /* Color de fondo suave */
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior para separación */
    display: flex; /* Para alinear elementos */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente */
    text-align: center; /* Alinear el texto al centro */
}

.date-banner p {
    margin: 0; /* Eliminar margen para un mejor ajuste */
    font-size: 1.2em; /* Tamaño de fuente ligeramente más grande */
}


.selected-date {
    font-weight: bold; /* Negrita para resaltar la fecha */
    color: var(--text-color); /* Usar el color de texto definido */
}

/* Historia clinica */

.page-title {
    font-size: 2rem;
    margin: 20px;
    color: #333;
}

.historia-clinica {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

.entradas-list {
    list-style-type: none;
    padding: 0;
}

.entrada-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.entrada-details p {
    margin: 5px 0;
}

.no-entradas {
    color: #777;
    font-style: italic;
}

.nueva-entrada {
    margin-top: 20px;
}

.entrada-form {
    display: flex;
    flex-direction: column;
}

.entrada-form label {
    margin-top: 10px;
}

.entrada-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Card Icon */
.card-icon {
    font-size: 30px; /* Tamaño del icono */
    margin-bottom: 10px; /* Espacio debajo del icono */
    color: var(--button-color); /* Color del icono */
}

.btn-icon {
    font-size: 20px; /* Tamaño del icono */
    min-width: 40px; /* Ajusta este valor según el tamaño del ícono y el padding deseado */
    padding: 5px; /* Agrega padding para mejorar la apariencia */   
}

.btn-icon-danger {
    background-color: var(--danger-color);
}