/* styles.css */

/* Root Variables */
:root {
    --button-color: #4CAF50; /* Verde */
    --hover-color: #45a049; /* Verde más oscuro para hover */
    --text-color: #333;
}

/* Navbar */
.navbar {
    background-color: var(--text-color); /* Color de fondo */
    padding: 10px; /* Espaciado */
}

.nav-list {
    list-style-type: none; /* Sin puntos */
    display: flex; /* En fila */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia entre los elementos */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
}

.nav-list li {
    margin-right: 20px; /* Espacio entre elementos */
}

.nav-list a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 24px; /* Tamaño del icono */
}

.spacer {
    flex-grow: 1; /* Ocupa el espacio entre el botón de volver y los otros iconos */
}

.back-button {
    margin-right: auto; /* Alinea la flecha a la izquierda */
}

/* Main Body */
body {
    display: flex;
    flex-direction: column; /* Mantener la navegación y el contenido en columna */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}

.content-container {
    display: flex;
    flex-direction: column; /* Permite apilar el título y las tarjetas */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    flex-grow: 1; /* Permite que este contenedor tome el espacio restante */
}

/* Headings */
h1 {
    color: var(--text-color);
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centrar el título */
    font-family: 'Arial', sans-serif; /* Fuente del título */
    font-size: 2rem; /* Tamaño de fuente más grande */
}

/* Card Container */
.card-container {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no hay suficiente espacio */
    margin-top: 20px; /* Espacio arriba de las tarjetas */
}

/* Cards */
.card {
    background: linear-gradient(to bottom right, #f8f9fa, #e2e6ea); /* Gradiente de fondo */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 10px; /* Bordes más redondeados */
    padding: 20px; /* Espaciado interno */
    width: 200px; /* Ancho de la tarjeta */
    text-align: center; /* Centrar el texto */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    margin: 10px; /* Espacio entre tarjetas */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al pasar el mouse */
    transform: translateY(-3px); /* Elevar la tarjeta ligeramente */
}

/* Card Icon */
.card-icon {
    font-size: 30px; /* Tamaño del icono */
    margin-bottom: 10px; /* Espacio debajo del icono */
    color: var(--button-color); /* Color del icono */
}


table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Collapsing borders */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px; /* Cell padding */
    text-align: left; /* Left align text */
}

th {
    background-color: #f2f2f2; /* Light gray background for header */
}

a {
    margin: 0 5px; /* Espacio entre enlaces */
}

/* Filter Container */
.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add some space below the filter */
}

.filter-form {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between form and button */
}

.filter-form select {
    margin-left: 10px; /* Space between label and select */
    margin-right: 10px; /* Space between select and button */
}

.filter-form input {
    margin-left: 10px; /* Space between label and select */
    margin-right: 10px; /* Space between select and button */
}

/* Add Button */
.add-button, .add-button-without-filter {
    display: inline-block;
    padding: 8px 16px; /* Ajusta el tamaño del botón */
    background-color: var(--button-color); /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
    font-weight: bold; /* Texto en negrita */
}

.add-button i, .add-button-without-filter-container {
    margin-right: 5px; /* Espacio entre icono y texto */
}

.add-button:hover, .add-button-without-filter:hover {
    background-color: var(--hover-color); /* Darker green on hover */
}

.add-button-without-filter-container {
    margin-bottom: 20px; /* Espacio debajo del botón */
}


form {
    margin: 20px;
}

button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}


/* Detalles del Médico */
.details-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.action-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: var(--button-color); /* Verde */
}

.delete-btn {
    background-color: #f44336; /* Rojo */
}

.back-btn {
    background-color: #2196F3; /* Azul */
}

.btn:hover {
    filter: brightness(90%);
}

/* Vista de Edición */
.edit-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ancho máximo del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
}

h1.page-title {
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Asegura que el box-sizing se aplique a todos los elementos */
* {
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

input, select, textarea {
    width: 100%; /* Ancho completo */
    margin: 2px;
    padding: 12px; /* Aumenta el padding para más espacio interno */
    margin-bottom: 15px; /* Espacio entre campos */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Aumenta el tamaño de fuente */
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    font-size: 16px; /* Asegura un tamaño de fuente uniforme */
}

.cancel-btn {
    background-color: #e0e0e0; /* Gris claro */
    color: #333; /* Texto oscuro */
    text-decoration: none; /* Sin subrayado */
}


.update-btn {
    background-color: var(--button-color); /* Verde */
}


.cancel-btn:hover {
    background-color: #d3d3d3; /* Color de fondo más oscuro al pasar el mouse */
}

.update-btn:hover {
    background-color: var(--hover-color); /* Color más oscuro para hover */
}

/* Estilos del Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene el modal en la pantalla */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permite desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 01px; /* Aumenta el espacio interno para más separación */
    border-radius: 5px;
    max-width: 600px; /* Máximo ancho del mensaje */
    position: relative; /* Necesario para el botón de cierre */
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

.error-message .close-btn {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 15px; /* Distancia desde el borde derecho */
    transform: translateY(-50%); /* Ajusta el posicionamiento vertical */
    background: none;
    border: none;
    color: #721c24;
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace el texto más negrita */
    cursor: pointer;
}

