{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Cancelar Turno</h1>

<div class="filter-form-container">
    <form method="get" class="filter-form">
        <label for="medico">Médico:</label>
        <select name="medico" id="medico">
            <option value="">-- Seleccionar --</option>
            {% for medico in medicos %}
            <option value="{{ medico.id }}" {% if medico.id|stringformat:"s" == selected_medico %}selected{% endif %}>{{ medico }}</option>
            {% endfor %}
        </select>
    
        <label for="paciente">Paciente:</label>
        <select name="paciente" id="paciente">
            <option value="">-- Seleccionar --</option>
            {% for paciente in pacientes %}
            <option value="{{ paciente.id }}" {% if paciente.id|stringformat:"s" == selected_paciente %}selected{% endif %}>{{ paciente }}</option>
            {% endfor %}
        </select>
    
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" id="fecha" value="{{ selected_date }}">
    
        <button type="submit">Filtrar</button>
    </form>
</div>


<div class="table-container">
    {% if messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}" id="successAlert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            <button class="success-alert-close-btn" onclick="closeAlert('successAlert')">✖</button>
        </div>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Médico</th>
                <th>Especialidad</th>
                <th>Paciente</th>
                <th>Cancelar</th>
            </tr>
        </thead>
        <tbody>
            {% for turno in turnos %}
            <tr>
                <td>{{ turno.fecha_hora|date:"Y-m-d" }}</td>
                <td>{{ turno.fecha_hora|time:"H:i" }}</td>
                <td>{{ turno.medico.nombre }} {{ turno.medico.apellido }}</td>
                <td>{{ turno.medico.especialidad }}</td>
                <td>{{ turno.paciente.nombre }} {{ turno.paciente.apellido }}</td>
                <td>
                    <button onclick="openConfirmacionModal('Cancelar turno', '¿Estás seguro de que deseas cancelar el turno?', '{% url 'turnero_cancelar' %}')">Cancelar</button>

                </td>                             
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay turnos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}