{% extends "base.html" %}

{% block content %}
<h1>Atención</h1>
<div class="content-container">
    <div class="card-container">

        <div class="card" onclick="window.location.href='{% url 'atencion_sala_espera' %}'">
            <div class="card-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <h3>Sala de espera</h3>
            <p>Próximos pacientes</p>
        </div>
        
        <div class="card" onclick="window.location.href='{% url 'atencion_historia_clinica' %}'">
            <div class="card-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <h3>Historia Clínica</h3>
            <p>Busqueda por paciente</p>
        </div>        
    </div>
</div>
{% endblock %}

