{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Historia Clínica - {{ paciente.nombre }} {{ paciente.apellido }}</h1>
<div class="nueva-entrada">
    <h2 class="page-title">Agregar Nueva Entrada</h2>
    <form method="post" class="entrada-form">
        {% csrf_token %}
        <label for="diagnostico">Diagnóstico:</label>
        <textarea name="diagnostico" id="diagnostico" required></textarea>

        <label for="tratamiento">Tratamiento:</label>
        <textarea name="tratamiento" id="tratamiento" required></textarea>

        <label for="receta">Receta:</label>
        <textarea name="receta" id="receta"></textarea>

        <label for="notas_adicionales">Notas Adicionales:</label>
        <textarea name="notas_adicionales" id="notas_adicionales"></textarea>

        <button type="submit" class="btn">Guardar Entrada</button>
    </form>
</div>
<div class="historia-clinica">    
    <h2 >Entradas Anteriores</h2>
    {% if entradas_ordenadas.exists %}
        <ul class="entradas-list">
            {% for entrada in entradas_ordenadas %}
                <li class="entrada-item">
                    <strong>{{ entrada.fecha|date:"Y-m-d H:i" }} - {{ entrada.medico.especialidad.nombre|capfirst}}</strong>
                    <div class="entrada-details">
                        <p><em>Diagnóstico:</em> {{ entrada.diagnostico }}</p>
                        <p><em>Tratamiento:</em> {{ entrada.tratamiento }}</p>
                        {% if entrada.receta %}
                            <p><em>Receta:</em> {{ entrada.receta }}</p>
                        {% endif %}
                        {% if entrada.notas_adicionales %}
                            <p><em>Notas Adicionales:</em> {{ entrada.notas_adicionales }}</p>
                        {% endif %}
                        <p><em>Médico:</em> {{ entrada.medico.nombre }} {{ entrada.medico.apellido }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-entradas">No hay entradas previas en la historia clínica.</p>
    {% endif %}
</div>


{% endblock %}
